@use '../abstracts' as *;

button {
  height: 40px;
  padding: 0 1.25em;
  background: transparent;
  color: $clr--dark;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid $clr--dark;
  letter-spacing: 0.4px;

  &:active,
  &:hover {
    background: $clr--dark;
    color: $clr--white;
  }
}
