@use '../abstracts' as *;

label {
  font-size: 0.7rem;
  opacity: 0.7;
}

form {
  width: 100%;
  min-width: 300px;
  padding: 1em;
  margin-bottom: 5em;

  @media screen and (min-width: $screen-s) {
    padding: 2em;
    border-radius: 5px;
    @include box-shadow;
  }
}

.form {
  max-width: 600px;

  &__input-wrapper {
    margin-bottom: 1rem;
  }

  &__deleteBtn {
    background: $clr--danger;
  }
}

form input {
  width: 100%;
  font-size: 1rem;
  border: 0;
  padding: 0.4rem;
  border-bottom: 1px solid $clr--dark;
  outline: 0;
}

form textarea {
  width: 100%;
  padding: 0.4rem;
  resize: vertical;
  border: 1px solid $clr--dark-700;
  outline: 0;
}

form button {
  width: 100%;
  margin: 0.625em 0;
  background: $clr--dark;
  color: $clr--light;
  border: none;
  font-size: 1rem;

  &:active,
  &:hover {
    background: $clr--dark-300;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}
