@use '../abstracts' as *;

body {
  font-family: primary-reg, Arial, Helvetica, sans-serif;
  line-height: 1.625;
  word-spacing: 0.6px;
}

h1,
h2 {
  font-family: secondary, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

:is(h3, h4, h5) {
  font-family: primary-med, "Times New Roman", Times, serif;
}

p {
  font-size: 0.975rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.4px;
  color: $clr--primary;

  &:hover {
    color: $clr--dark;
  }
}

@media screen and (max-width: $screen-md) {
  p {
    font-size: 0.875rem;
  }
}
