@use './box-shadow' as *;

@mixin card-hover {
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  scale: 0.95;
  opacity: 0.95;

  &:hover {
    @include box-shadow;
    scale: 1;
    opacity: 1;
  }
}
