@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
