@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
}

main {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin-top: 7.5em;
}
@media screen and (max-width: 1200px) {
  main {
    margin-top: 3.5em;
    padding: 0 0.625em;
  }
}
@media screen and (max-width: 480px) {
  main {
    margin-top: 4.5rem;
  }
}

body {
  font-family: primary-reg, Arial, Helvetica, sans-serif;
  line-height: 1.625;
  word-spacing: 0.6px;
}

h1,
h2 {
  font-family: secondary, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

:is(h3, h4, h5) {
  font-family: primary-med, "Times New Roman", Times, serif;
}

p {
  font-size: 0.975rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.4px;
  color: #ea325b;
}
a:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}
label {
  font-size: 0.7rem;
  opacity: 0.7;
}

form {
  width: 100%;
  min-width: 300px;
  padding: 1em;
  margin-bottom: 5em;
}
@media screen and (min-width: 480px) {
  form {
    padding: 2em;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
    -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
    box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  }
}

.form {
  max-width: 600px;
}
.form__input-wrapper {
  margin-bottom: 1rem;
}
.form__deleteBtn {
  background: #ff5959;
}

form input {
  width: 100%;
  font-size: 1rem;
  border: 0;
  padding: 0.4rem;
  border-bottom: 1px solid #000;
  outline: 0;
}

form textarea {
  width: 100%;
  padding: 0.4rem;
  resize: vertical;
  border: 1px solid rgba(51, 51, 51, 0.685);
  outline: 0;
}

form button {
  width: 100%;
  margin: 0.625em 0;
  background: #000;
  color: #eee;
  border: none;
  font-size: 1rem;
}
form button:active, form button:hover {
  background: #333;
}

input[type=checkbox] {
  cursor: pointer;
}

button {
  height: 40px;
  padding: 0 1.25em;
  background: transparent;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #000;
  letter-spacing: 0.4px;
  transition: all 0.4s ease-in-out;
}
button:active, button:hover {
  background: #000;
  color: #fff;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-top: 2.375rem;
  }
}

.navbar {
  width: 100%;
  max-width: 1200px;
  background: #000;
}
.navbar__toggler-btn {
  background: transparent;
  border: none;
  outline: 0;
}
.navbar__toggler-btn:hover {
  background: transparent;
}
.navbar__toggler-icon {
  font-size: 1.5rem;
  opacity: 0.8;
  color: #fff;
}
.navbar__toggler-icon:hover {
  color: #ea325b;
}
.navbar__logo {
  position: absolute;
  top: 0;
  left: 45%;
  right: 55%;
  width: 45px;
}
.navbar__logo img {
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
}
@media screen and (max-width: 480px) {
  .navbar__logo {
    left: 43%;
    right: 58%;
  }
}
@media screen and (min-width: 992px) {
  .navbar__toggler-btn {
    display: none;
  }
  .navbar__logo {
    top: -10%;
    width: 65px;
    padding-top: 0.5em;
    left: 46.5%;
    right: 53.5%;
  }
  .navbar__logo img {
    border: 7px solid #fff;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
    -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
    box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  }
  .navbar__logo {
    top: -18%;
    padding-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    border-bottom: 1px solid #d1d1d1;
    background: #fff;
  }
  .navbar__toggler-icon {
    color: #000;
  }
}

.nav-links__active {
  color: #ea325b !important;
}
.nav-links__link {
  color: #fff;
  cursor: pointer;
}
.nav-links__link:hover, .nav-links__link:active {
  color: #ea325b;
}
@media screen and (max-width: 992px) {
  .nav-links {
    border-top: 0.5px solid rgba(51, 51, 51, 0.685);
    border-bottom: 0.5px solid rgba(51, 51, 51, 0.685);
  }
  .nav-links__link {
    padding: 0;
    margin: 0.5em 0 0.5em 0.6em;
  }
  .nav-links:first-child {
    margin-top: 0.8em;
  }
}
@media screen and (max-width: 1200px) {
  .nav-links__link {
    color: #000;
  }
}

.searchbox-wrapper {
  width: 100%;
  display: none;
  justify-content: center;
}

#search-box {
  margin: 2.375em 1em 0.5em 1em;
  padding-bottom: 0.125em;
  font-family: primary-reg;
  font-size: 1.125rem;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.685);
}
#search-box::placeholder {
  font-size: 0.85rem;
}
@media screen and (max-width: 768px) {
  #search-box {
    font-size: 0.975rem;
  }
}

.message-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.message-container :is(.message, .success, .error) {
  min-width: 280px;
  padding: 1.625em;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
}

.message-container.search {
  position: relative;
}

.form-message-container .error,
.form-message-container .success {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  padding: 1.625em 3.5em;
  position: fixed;
  font-family: primary-reg;
  bottom: 0;
  right: 0;
  margin: 0.5em;
  border-radius: 5px;
  background: #fff;
}
.form-message-container .error .description,
.form-message-container .success .description {
  padding-left: 3em;
}
.form-message-container .error i,
.form-message-container .success i {
  position: absolute;
  font-size: 2rem;
  margin-top: -0.125em;
}
@media screen and (max-width: 768px) {
  .form-message-container .error,
.form-message-container .success {
    padding: 0.75em 1em;
  }
}

.form-message-container :is(.error) {
  display: block;
  border-bottom: 8px solid #ff5959;
  color: #ff5959;
}
.form-message-container :is(.error) i {
  color: #ff5959;
}

.form-message-container :is(.success) {
  display: block;
  border-bottom: 8px solid #4bb543;
  color: #4bb543;
}
.form-message-container :is(.success) i {
  color: #4bb543;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 65vh;
  overflow: hidden;
}
.home-banner__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: contrast(115%) invert(5%) saturate(105%) sepia(10%) grayscale(5%);
}
@media screen and (min-width: 768px) {
  .home-banner {
    min-height: 75vh;
  }
}

.footer {
  margin-top: auto;
  padding: 2em 0;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d1d1d1;
}
.footer__left {
  display: flex;
}
.footer__left-customer, .footer__left-company {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
}
.footer__left-customer a, .footer__left-company a {
  margin: 0.375em 0;
  color: #000;
  font-size: 0.875rem;
  transition: all 0.2s ease-in-out;
}
.footer__left-customer a:hover, .footer__left-company a:hover {
  color: #ea325b;
}
.footer__right i {
  font-size: 1.375rem;
  margin: 1em 0.4em;
  cursor: pointer;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.footer__right i:hover {
  color: #ea325b;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 0 0.625em;
  }
  .footer__left {
    margin-top: 2em;
  }
  .footer__right {
    margin-top: 1em;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__left-customer, .footer__left-company {
    margin-right: 0;
  }
}

.loading {
  color: #ea325b;
  position: absolute;
  top: 40%;
  right: 51%;
  bottom: 60%;
  left: 49%;
}

.home-flyer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em 0em;
}
.home-flyer img {
  width: 100%;
  height: auto;
}
.home-flyer__image-wrapper, .home-flyer__text-wrapper {
  flex: 0.49;
}
.home-flyer__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5f5f5;
  text-align: center;
}
.home-flyer__text-wrapper__top, .home-flyer__text-wrapper__bottom {
  margin: 2.25em;
}
.home-flyer__text-wrapper h2 {
  color: #ea325b;
  padding: 0.785em;
}
.home-flyer__text-wrapper__mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-flyer__text-wrapper__mid .input-group {
  max-width: 400px;
  padding: 0 0.5em;
}
.home-flyer__text-wrapper__mid input {
  border-radius: 0;
  border: 1px solid #dfdfdf;
}
.home-flyer__text-wrapper__mid button {
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
}
.home-flyer__text-wrapper__mid button:hover {
  background: #000;
}
@media screen and (max-width: 992px) {
  .home-flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-flyer__image-wrapper, .home-flyer__text-wrapper {
    flex: 1;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  .home-flyer__text-wrapper {
    aspect-ratio: unset;
  }
}

.body--preventScrolling {
  height: 100%;
  overflow: hidden;
}
.body--preventScrolling:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.8424369748) 0%, rgba(24, 24, 25, 0.8648459384) 0%);
  z-index: 5;
}

.home {
  margin-top: 0;
}

.home-header {
  padding: 2em 0em;
  border-bottom: 1px solid #d1d1d1;
  padding: 2em 0em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .home-header__left, .home-header__right {
    flex: 0.48;
  }
}
@media screen and (min-width: 992px) {
  .home-header {
    padding: 2.875em 0;
  }
}

.feature-intro {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  display: none;
}
.feature-intro h5,
.feature-intro p {
  max-width: 700px;
  padding: 0 0.625em;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  border-bottom: 1px solid #d1d1d1;
  padding: 2em 0em;
  display: none;
}
@media screen and (max-width: 1200px) {
  .featured {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .featured {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .featured {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.featured__card {
  padding: 0.875em;
  transition: all 0.35s ease-in-out;
  scale: 0.95;
  opacity: 0.95;
}
.featured__card:hover {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  scale: 0.97;
  opacity: 1;
}
.featured__title {
  font-size: 0.9375rem;
  color: #000;
}
.featured__link {
  font-size: 0.9375rem;
}
.featured__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75em;
  overflow: hidden;
  aspect-ratio: 5/7;
}
.featured__image-wrapper img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .featured__title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .featured__card {
    margin: 0 0.625em;
  }
  .featured__title {
    margin: 0;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  .featured {
    grid-template-columns: repeat(5, auto);
    justify-content: center;
  }
  .featured__card {
    padding: 1.25em;
    max-width: 220px;
  }
}

.inspired {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  padding: 2em 0em;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
@media screen and (max-width: 1200px) {
  .inspired {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .inspired {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .inspired {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.inspired__img-wrapper img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .inspired {
    grid-template-columns: repeat(3, 31.2vw);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .inspired {
    grid-template-columns: repeat(2, 47vw);
  }
}

.message-container.home {
  position: absolute;
}

.details {
  width: 100%;
}
.details__container {
  padding: 2em 0em;
}
.details__wrapper {
  display: flex;
}
.details__image-wrapper {
  flex: 0.4;
}
.details__image-wrapper img {
  width: 100%;
  height: auto;
}
.details__right {
  flex: 0.6;
  margin-top: -0.4em;
  padding: 0 1.2em;
}
.details__add-to-cart {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.685);
  cursor: pointer;
}
.details__add-to-cart:after {
  content: "";
  font-size: 0.85rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background: #e9e8e8d5;
  color: #333;
  border-radius: 2px;
  margin: 2.2em 0 0 -1em;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
}
.details__add-to-cart:hover {
  color: #ea325b;
}
.details__add-to-cart:hover::after {
  content: "Add to cart";
  padding: 0.5em;
}
.details__add-to-cart.fa-shopping-cart {
  color: #ea325b;
}
.details__add-to-cart.fa-shopping-cart:hover::after {
  content: "Remove from cart";
}
.details__description-wrapper {
  max-width: 500px;
  margin-top: 1.785em;
}
@media screen and (max-width: 1200px) {
  .details {
    margin-top: 4em;
  }
}
@media screen and (max-width: 768px) {
  .details__description-wrapper {
    max-width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .details__wrapper {
    display: block;
  }
  .details__right {
    margin-top: 0;
    padding: 1em 0;
  }
}

.products-banner {
  display: none;
  width: 100%;
  height: 60vh;
  background-image: url(/assets/images/smile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -3.5em;
  margin-top: 3.5em;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .products-banner {
    visibility: collapse;
    height: 0;
  }
}

.products-header {
  display: none;
  flex: 1;
  padding-bottom: 2em;
  border-bottom: 1px solid #d1d1d1;
}
.products-header__left {
  flex: 0.45;
}
.products-header__right {
  width: 100%;
  flex: 0.55;
  margin-left: 1em;
}
.products-header__right img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .products-header__left {
    margin-top: 1em;
  }
}
@media screen and (max-width: 992px) {
  .products-header p {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .products-header {
    padding-bottom: 1em;
  }
  .products-header__left {
    flex: 1;
    text-align: center;
    padding: 0.4em;
  }
  .products-header__right {
    display: none;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  padding: 2em 0em;
}
@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.products__card {
  margin: 0.875em -0.4125em;
  padding: 1.625em;
  border: 0.7px solid #d1d1d1;
  transition: all 0.35s ease-in-out;
  scale: 0.95;
  opacity: 0.95;
}
.products__card:hover {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  scale: 0.97;
  opacity: 1;
}
.products__title, .products__price {
  color: #000;
  font-size: 0.9375rem;
}
.products__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75em;
  aspect-ratio: 5/7;
  overflow: hidden;
}
.products__image-wrapper img {
  width: 100%;
  height: auto;
}
.products__link {
  margin: 0.05em 0;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 31vw);
  }
  .products__card {
    margin: 0 0.625em;
  }
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 48vw);
    justify-content: center;
  }
  .products__card {
    padding: 0.875em;
    margin: 0 0.625em;
  }
  .products__title {
    font-size: 0.875rem;
  }
  .products__price, .products__links {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 280px);
  }
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.cart__header {
  display: none;
  margin: 1.625em 0;
  flex: 0.3;
}
.cart__header h1 {
  font-family: primary-med;
}
.cart__container {
  flex: 0.5;
  padding: 0 1em;
}
.cart__card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid #d1d1d1;
}
.cart__image-wrapper {
  max-width: 100px;
  overflow: hidden;
}
.cart__image-wrapper img {
  width: 100%;
  height: auto;
}
.cart__text-box {
  margin-left: 0.875em;
  text-align: end;
}
.cart__title, .cart__price {
  font-size: 0.925rem;
}
.cart__link {
  font-size: 0.875rem;
}
.cart__trash-icon {
  font-size: 1.25rem;
  color: rgba(51, 51, 51, 0.685);
  cursor: pointer;
  margin-top: 1em;
  transition: all 0.3s ease-in-out;
}
.cart__trash-icon:hover {
  color: #000;
  scale: 1.1;
}
@media screen and (min-width: 768px) {
  .cart__container {
    margin-top: 2em;
  }
}
@media screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
  }
}

.subtotal {
  margin: 1.625em 0;
  padding: 0 0.7em;
  text-align: end;
  flex: 0.2;
}
.subtotal__title {
  font-size: 1.375rem;
}
.subtotal__itemsQty, .subtotal__price {
  font-size: 0.975rem;
}
.subtotal__price {
  text-decoration: underline 2px #000;
}
.subtotal__button {
  margin-top: 0.75em;
  background: #000;
  color: #fff;
}
.subtotal__button:hover {
  background: #333;
  border: 1px solid #333;
}
@media screen and (min-width: 768px) {
  .subtotal {
    margin-top: 4em;
  }
}
@media screen and (max-width: 768px) {
  .subtotal {
    padding: 0 1em;
  }
}

#login-form {
  max-width: 430px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
.login h1 {
  font-family: primary-med;
  margin-bottom: 1em;
}
.login__button {
  margin-top: 2em;
}

.exclamation-circle {
  color: #ff5959;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add__header {
  margin: 0.875em 0;
  font-family: primary-med;
  text-align: center;
}

#edit-form {
  display: none;
}

.edit__productname {
  color: #ea325b;
  font-weight: 900;
}
.edit__header {
  display: none;
  margin: 0.875em 0;
  text-align: center;
  font-family: primary-med;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .edit__header {
    margin-top: 1.175em;
  }
}

.validation {
  font-size: 0.75rem;
}
.validation .error {
  color: #ff5959;
}
.validation .success {
  color: #4bb543;
}

@font-face {
  font-family: primary-reg;
  src: url(/assets/fonts/Inter-Regular.woff2);
}
@font-face {
  font-family: primary-med;
  src: url(/assets/fonts/Inter-Medium.woff2);
}
@font-face {
  font-family: secondary;
  src: url(/assets/fonts/Cormorant-Medium.ttf);
}

/*# sourceMappingURL=main.css.map */
