.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-top: 2.375rem;
  }
}

.navbar {
  width: 100%;
  max-width: 1200px;
  background: #000;
}
.navbar__toggler-btn {
  background: transparent;
  border: none;
  outline: 0;
}
.navbar__toggler-btn:hover {
  background: transparent;
}
.navbar__toggler-icon {
  font-size: 1.5rem;
  opacity: 0.8;
  color: #fff;
}
.navbar__toggler-icon:hover {
  color: #ea325b;
}
.navbar__logo {
  position: absolute;
  top: 2%;
  left: 49%;
  color: red;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 992px) {
  .navbar__toggler-btn {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    border-bottom: 1px solid #d1d1d1;
    background: #fff;
  }
  .navbar__toggler-icon {
    color: #000;
  }
}

.nav-links__active {
  color: #ea325b !important;
}
.nav-links__link {
  color: #fff;
  cursor: pointer;
}
.nav-links__link:hover, .nav-links__link:active {
  color: #ea325b;
}
@media screen and (max-width: 992px) {
  .nav-links {
    border-top: 0.5px solid rgba(51, 51, 51, 0.685);
    border-bottom: 0.5px solid rgba(51, 51, 51, 0.685);
  }
  .nav-links__link {
    padding: 0;
    margin: 0.5em 0 0.5em 0.6em;
  }
  .nav-links:first-child {
    margin-top: 0.8em;
  }
}
@media screen and (max-width: 1200px) {
  .nav-links__link {
    color: #000;
  }
}

.searchbox-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-box {
  margin: 1em;
  padding-bottom: 0.125em;
  font-size: 1.25rem;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.685);
}
#search-box::placeholder {
  font-size: 0.85rem;
}

.message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: -1;
}

.message-container :is(.message, .success, .error) {
  min-width: 280px;
  padding: 1.625em;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
}

.form-message-container {
  max-width: 400px;
  text-align: center;
}

.form-message-container :is(.error) {
  color: #ff5959;
}

.form-message-container :is(.success) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  padding: 1.6em;
  font-size: 2rem;
  color: #dfdfdf;
  background: #4bb543;
  z-index: 5;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  max-height: 56vh;
  overflow: hidden;
}
.home-banner__image {
  width: 100%;
  min-width: 800px;
  filter: sepia(10%) opacity(90%) saturate(120%) grayscale(50%);
}
@media screen and (min-width: 768px) {
  .home-banner {
    max-height: 75vh;
  }
}

.footer {
  margin-top: auto;
  padding: 2em 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 0 0.625em;
  }
}

.loading {
  color: #ea325b;
  position: absolute;
  top: 40%;
  right: 50%;
  bottom: 60%;
  left: 50%;
}

.home-flyer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em 0em;
}
.home-flyer img {
  width: 100%;
  height: auto;
}
.home-flyer__image-wrapper, .home-flyer__text-wrapper {
  flex: 0.49;
}
.home-flyer__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f5f5f5;
  text-align: center;
}
.home-flyer__text-wrapper__top, .home-flyer__text-wrapper__bottom {
  margin: 2.25em;
}
.home-flyer__text-wrapper h2 {
  color: #ea325b;
  padding: 0.785em;
}
.home-flyer__text-wrapper__mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-flyer__text-wrapper__mid .input-group {
  max-width: 400px;
  padding: 0 0.5em;
}
.home-flyer__text-wrapper__mid input {
  border-radius: 0;
  border: 1px solid #dfdfdf;
}
.home-flyer__text-wrapper__mid button {
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
}
.home-flyer__text-wrapper__mid button:hover {
  background: #000;
}
@media screen and (max-width: 992px) {
  .home-flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-flyer__image-wrapper, .home-flyer__text-wrapper {
    flex: 1;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  .home-flyer__text-wrapper {
    aspect-ratio: unset;
  }
}

/*# sourceMappingURL=index.css.map */
