@use '../abstracts' as *;

.home-banner {
  width: 100%;
  min-height: 55vh;
  max-height: 65vh;
  overflow: hidden;
  @include flex-center;

  &__image {
    width: 100%;
    min-width: 800px;
    filter: sepia(10%) opacity(90%) saturate(120%) grayscale(50%);
  }
}
