@use '../abstracts' as *;

.home-banner {
  @include flex-center;
  width: 100%;
  min-height: 50vh;
  max-height: 56vh;
  overflow: hidden;

  &__image {
    width: 100%;
    min-width: 800px;
    filter: sepia(10%) opacity(90%) saturate(120%) grayscale(50%);
  }

  @media screen and (min-width: $screen-md) {
    max-height: 75vh;
  }
}
