@use '../abstracts' as *;

.message-container {
  @include position-center;

  width: 100%;
  text-align: center;
  z-index: -1;
}

.message-container :is(.message, .success, .error) {
  min-width: 280px;
  padding: 1.625em;
  font-size: 1.125rem;
  font-weight: 600;
  color: $clr--dark-300;
}

.form-message-container {
  max-width: 400px;
  text-align: center;
}

.form-message-container :is(.error) {
  color: $clr--danger;
}

.form-message-container :is(.success) {
  @include position-center;
  @include box-shadow;
  padding: 1.6em;
  font-size: 2rem;
  color: $clr--gray-dark;
  background: $clr--success;
  z-index: 5;
}
