@use '../abstracts' as *;

.message-container {
  @include position-center;

  width: 100%;
  padding: 1em;
  text-align: center;
  z-index: 2;
}

.message-container :is(.warning, .success, .error) {
  min-width: 310px;
  padding: 3em;
  font-size: 1.6rem;
  font-weight: 600;
  color: $clr--dark-300;
}

.form-message-container {
  width: 100%;
  height: 30px;
  text-align: center;
}

.form-message-container :is(.error) {
  color: $clr--danger;
}

.form-message-container :is(.success) {
  color: $clr--success;
}
