@use '../abstracts' as *;

.footer {
  margin-top: auto;
  padding: 2em 0;
  width: 100%;
  max-width: $screen-xl;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $screen-xl) {
    padding: 0 0.625em;
  }
}
