@use '../abstracts' as *;

// Container
.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $screen-xl) {
    margin-top: 2.375rem;
  }
}

// Wrapper
.navbar {
  width: 100%;
  max-width: $screen-xl;
  background: $clr--dark;

  &__toggler-btn {
    background: transparent;
    border: none;
    outline: 0;

    &:hover {
      background: transparent;
    }
  }

  &__toggler-icon {
    font-size: 1.5rem;
    opacity: 0.8;
    color: $clr--white;

    &:hover {
      color: $clr--primary;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 45%;
    right: 55%;
    width: 45px;
    height: 45px;

    img {
      border-radius: 50%;
      background-color: $clr--white;
      border: 5px solid $clr--white;
    }
  }

  @media screen and (max-width: $screen-s) {
    &__logo {
      left: 43%;
      right: 58%;
    }
  }

  @media screen and (max-width: $screen-lg) {
    &__logo {
      top: 3px;
    }
  }

  @media screen and (min-width: $screen-lg) {
    &__toggler-btn {
      display: none;
    }

    &__logo {
      top: -10%;
      width: 65px;
      padding-top: 0.5em;
      left: 46.5%;
      right: 53.5%;

      img {
        border: 7px solid $clr--white;
      }
    }
  }

  @media screen and (min-width: $screen-xl) {
    @include box-shadow;

    &__logo {
      top: -18%;
      padding-top: 0;
    }
  }

  @media screen and (max-width: $screen-xl) {
    @include border-bottom;
    background: $clr--white;

    &__toggler-icon {
      color: $clr--dark;
    }
  }
}

.nav-links {
  &__active {
    color: $clr--primary !important;
  }

  &__link {
    color: $clr--white;
    cursor: pointer;

    &:hover,
    &:active {
      color: $clr--primary;
    }
  }

  @media screen and (max-width: $screen-lg) {
    border-top: 0.5px solid $clr--dark-700;
    border-bottom: 0.5px solid $clr--dark-700;

    &__link {
      padding: 0;
      margin: 0.5em 0 0.5em 0.6em;
    }

    &:first-child {
      margin-top: 0.8em;
    }
  }

  @media screen and (max-width: $screen-xl) {
    &__link {
      color: $clr--dark;
    }
  }
}
