@use '../abstracts/variables' as *;

.searchbar {
  &__input {
    background: var(--clr-dark);
    border-radius: 0;
    border: 0;

    &:focus {
      background: var(--clr-white);
      color: var(--clr-dark);
    }
  }

  @media screen and (max-width: $screen-s) {
    width: 100%;
    margin: 0.5rem 0;
  }
}
