.home {
  margin-top: 0;
}

.home-header {
  padding: 2em 0em;
  border-bottom: 1px solid #d1d1d1;
  padding: 2em 0em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .home-header__left, .home-header__right {
    flex: 0.48;
  }
}
@media screen and (min-width: 992px) {
  .home-header {
    padding: 2.875em 0;
  }
}

.feature-intro {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  display: none;
}
.feature-intro h5,
.feature-intro p {
  max-width: 700px;
  padding: 0 0.625em;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  border-bottom: 1px solid #d1d1d1;
  padding: 2em 0em;
  display: none;
}
@media screen and (max-width: 1200px) {
  .featured {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .featured {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .featured {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.featured__card {
  padding: 0.875em;
  transition: all 0.3s ease-in-out;
  scale: 0.95;
  opacity: 0.95;
}
.featured__card:hover {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  scale: 1;
  opacity: 1;
}
.featured__title {
  font-size: 0.9375rem;
  color: #000;
}
.featured__link {
  font-size: 0.9375rem;
}
.featured__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75em;
  overflow: hidden;
  aspect-ratio: 5/7;
}
.featured__image-wrapper img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .featured__title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .featured__card {
    margin: 0 0.625em;
  }
  .featured__title {
    margin: 0;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 992px) {
  .featured {
    grid-template-columns: repeat(5, auto);
    justify-content: center;
  }
  .featured__card {
    padding: 1.25em;
    max-width: 220px;
  }
}

.inspired {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  padding: 2em 0em;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
@media screen and (max-width: 1200px) {
  .inspired {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .inspired {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .inspired {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.inspired__img-wrapper img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .inspired {
    grid-template-columns: repeat(3, 31.2vw);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .inspired {
    grid-template-columns: repeat(2, 47vw);
  }
}

.message-container.home {
  position: absolute;
}

.details {
  width: 100%;
}
.details__container {
  padding: 2em 0em;
}
.details__wrapper {
  display: flex;
}
.details__image-wrapper {
  flex: 0.4;
}
.details__image-wrapper img {
  width: 100%;
  height: auto;
}
.details__right {
  flex: 0.6;
  margin-top: -0.4em;
  padding: 0 1.2em;
}
.details__add-to-cart {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.685);
  cursor: pointer;
}
.details__add-to-cart:after {
  content: "";
  font-size: 0.85rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background: #e9e8e8d5;
  color: #333;
  border-radius: 2px;
  margin: 2.2em 0 0 -1em;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
}
.details__add-to-cart:hover {
  color: #ea325b;
}
.details__add-to-cart:hover::after {
  content: "Add to cart";
  padding: 0.5em;
}
.details__add-to-cart.fa-shopping-cart {
  color: #ea325b;
}
.details__add-to-cart.fa-shopping-cart:hover::after {
  content: "Remove from cart";
}
.details__description-wrapper {
  max-width: 500px;
  margin-top: 1.785em;
}
@media screen and (max-width: 1200px) {
  .details {
    margin-top: 4em;
  }
}
@media screen and (max-width: 768px) {
  .details__description-wrapper {
    max-width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .details__wrapper {
    display: block;
  }
  .details__right {
    margin-top: 0;
    padding: 1em 0;
  }
}

.products-banner {
  display: none;
  width: 100%;
  height: 60vh;
  background-image: url(/assets/images/smile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -3.5em;
  margin-top: 3.5em;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .products-banner {
    visibility: collapse;
    height: 0;
  }
}

.products-header {
  display: none;
  flex: 1;
  padding-bottom: 2em;
  border-bottom: 1px solid #d1d1d1;
}
.products-header__left {
  flex: 0.45;
}
.products-header__right {
  width: 100%;
  flex: 0.55;
  margin-left: 1em;
}
.products-header__right img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .products-header__left {
    margin-top: 1em;
  }
}
@media screen and (max-width: 992px) {
  .products-header p {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .products-header {
    padding-bottom: 1em;
  }
  .products-header__left {
    flex: 1;
    text-align: center;
    padding: 0.4em;
  }
  .products-header__right {
    display: none;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 1.5em;
  grid-column-gap: 0.785em;
  padding: 2em 0em;
}
@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 28vw);
  }
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 46vw);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0.625em;
  }
}
@media screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(2, 45.5vw);
    grid-column-gap: 0.25em;
  }
}
.products__card {
  margin: 0.875em -0.4125em;
  padding: 1.625em;
  border: 0.7px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
  scale: 0.95;
  opacity: 0.95;
}
.products__card:hover {
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  scale: 1;
  opacity: 1;
}
.products__title, .products__price {
  color: #000;
  font-size: 0.9375rem;
}
.products__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75em;
  aspect-ratio: 5/7;
  overflow: hidden;
}
.products__image-wrapper img {
  width: 100%;
  height: auto;
}
.products__link {
  margin: 0.05em 0;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 31vw);
  }
  .products__card {
    margin: 0 0.625em;
  }
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 48vw);
    justify-content: center;
  }
  .products__card {
    padding: 0.875em;
    margin: 0 0.625em;
  }
  .products__title {
    font-size: 0.875rem;
  }
  .products__price, .products__links {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 280px);
  }
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.cart__header {
  display: none;
  margin: 1.625em 0;
  flex: 0.3;
}
.cart__header h1 {
  font-family: primary-med;
}
.cart__container {
  flex: 0.5;
  padding: 0 1em;
}
.cart__card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid #d1d1d1;
}
.cart__image-wrapper {
  max-width: 100px;
  overflow: hidden;
}
.cart__image-wrapper img {
  width: 100%;
  height: auto;
}
.cart__text-box {
  margin-left: 0.875em;
  text-align: end;
}
.cart__title, .cart__price {
  font-size: 0.925rem;
}
.cart__link {
  font-size: 0.875rem;
}
.cart__trash-icon {
  font-size: 1.25rem;
  color: rgba(51, 51, 51, 0.685);
  cursor: pointer;
  margin-top: 1em;
  transition: all 0.3s ease-in-out;
}
.cart__trash-icon:hover {
  color: #000;
  scale: 1.1;
}
@media screen and (min-width: 768px) {
  .cart__container {
    margin-top: 2em;
  }
}
@media screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
  }
}

.subtotal {
  margin: 1.625em 0;
  padding: 0 0.7em;
  text-align: end;
  flex: 0.2;
}
.subtotal__title {
  font-size: 1.375rem;
}
.subtotal__itemsQty, .subtotal__price {
  font-size: 0.975rem;
}
.subtotal__price {
  text-decoration: underline 2px #000;
}
@media screen and (min-width: 768px) {
  .subtotal {
    margin-top: 4em;
  }
}
@media screen and (max-width: 768px) {
  .subtotal {
    padding: 0 1em;
  }
}

#login-form {
  max-width: 430px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
.login h1 {
  font-family: primary-med;
  margin-bottom: 1em;
}
.login__button {
  margin-top: 2em;
}

.exclamation-circle {
  color: #ff5959;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add__header {
  margin: 0.875em 0;
  font-family: primary-med;
  text-align: center;
}

#edit-form {
  display: none;
}

.edit__productname {
  color: #ea325b;
  font-weight: 900;
}
.edit__header {
  display: none;
  margin: 0.875em 0;
  text-align: center;
  font-family: primary-med;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .edit__header {
    margin-top: 1.175em;
  }
}

.validation {
  font-size: 0.75rem;
}
.validation .error {
  color: #ff5959;
}
.validation .success {
  color: #4bb543;
}

/*# sourceMappingURL=index.css.map */
