* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1200px;
  margin-top: 6.5rem;
}
@media screen and (max-width: 1200px) {
  main {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 480px) {
  main {
    margin-top: 4.5rem;
  }
}

.home {
  margin-top: 0;
}
.home__subheader {
  margin: 2em 0;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}
@media screen and (max-width: 768px) {
  .featured {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 2em;
    grid-column-gap: 0.7em;
  }
}
.featured__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}
.featured__image-wrapper img {
  width: 100%;
  height: auto;
}

.details {
  width: 100%;
}
.details__wrapper {
  display: flex;
}
.details__image-wrapper {
  flex: 0.6;
}
.details__image-wrapper img {
  width: 100%;
  height: auto;
}
.details__right {
  flex: 0.4;
}
.details__add-to-cart {
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.685);
  cursor: pointer;
}
.details__add-to-cart:after {
  content: "";
  font-size: 0.85rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background: #e9e8e8d5;
  color: #333;
  border-radius: 2px;
  margin: 2.2em 0 0 -1em;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  -moz-box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
  box-shadow: 0px 0px 11px 3px rgba(62, 66, 66, 0.2);
}
.details__add-to-cart:hover {
  color: #ea325b;
}
.details__add-to-cart:hover::after {
  content: "Add to cart";
  padding: 0.5em;
}
.details__add-to-cart.fa-shopping-cart {
  color: #ea325b;
}
.details__add-to-cart.fa-shopping-cart:hover::after {
  content: "Remove from cart";
}
.products {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: space-between;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 2em;
    grid-column-gap: 0.7em;
  }
}
.products__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}
.products__image-wrapper img {
  width: 100%;
  height: auto;
}

.cart__card {
  display: flex;
  justify-content: space-between;
}
.cart__image-wrapper {
  max-width: 200px;
}
.cart__image-wrapper img {
  width: 100%;
  height: auto;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
