.body--preventScrolling {
  height: 100%;
  overflow: hidden;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.842436974789916) 0%,
      rgba(24, 24, 25, 0.8648459383753502) 0%
    );

    z-index: 8;
  }
}
