@use '../abstracts' as *;

.exclamation-circle {
  color: $clr--danger;
}

.add {
  @include flex-col-center;

  &__header {
    margin: 0.875em 0;
    font-family: primary-med;
    text-align: center;
  }
}

#edit-form {
  display: none;
}

.edit {
  &__productname {
    color: $clr--primary;
    font-weight: 900;
  }

  &__header {
    display: none;
    margin: 0.875em 0;
    text-align: center;
    font-family: primary-med;
    text-align: center;

    @media screen and (max-width: $screen-xl) {
      margin-top: 1.175em;
    }
  }
}

.validation {
  font-size: 0.75rem;

  .error {
    color: $clr--danger;
  }

  .success {
    color: $clr--success;
  }
}
