@use '../abstracts' as *;

.add {
  @include flex-col-center;

  &__header {
    margin-top: 0.625em;
    font-family: primary-med;
  }

  @media screen and (max-width: $screen-xl) {
    &__header {
      margin-top: 1.175em;
    }
  }
}
