@use '../abstracts' as *;

.cart {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;

  &__header {
    display: none;
    margin: 1.625em 0;
    flex: 0.3;

    h1 {
      font-family: primary-med;
    }
  }

  &__container {
    flex: 0.5;
    padding: 0 1em;
  }

  &__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 0;
    transition: all 0.4s ease-in-out;

    @include border-bottom;
  }

  &__image-wrapper {
    max-width: 100px;
    overflow: hidden;
    @include img-responsive;
  }

  &__text-box {
    margin-left: 0.875em;
    text-align: end;
  }

  &__title,
  &__price {
    font-size: 0.925rem;
  }

  &__link {
    font-size: 0.875rem;
  }

  &__trash-icon {
    font-size: 1.25rem;
    color: $clr--dark-700;
    cursor: pointer;
    margin-top: 1em;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $clr--dark;
      scale: 1.1;
    }
  }

  @media screen and (min-width: $screen-md) {
    &__container {
      margin: 2em 0;
    }

    &__image-wrapper img {
      width: 100px;
    }
  }

  @media screen and (max-width: $screen-md) {
    flex-direction: column;
  }
}

.subtotal {
  margin: 1.625em 0;
  padding: 0 0.7em;
  text-align: end;
  flex: 0.2;

  &__title {
    font-size: 1.375rem;
  }

  &__itemsQty,
  &__price {
    font-size: 0.975rem;
  }

  &__price {
    text-decoration: underline 2px $clr--dark;
  }

  &__button {
    margin-top: 0.75em;
    background: $clr--dark;
    color: $clr--white;

    &:hover {
      background: $clr--dark-300;
      border: 1px solid $clr--dark-300;
    }
  }

  @media screen and (min-width: $screen-md) {
    margin-top: 4em;
  }

  @media screen and (max-width: $screen-md) {
    padding: 0 1em;
  }
}
