@use '../abstracts' as *;

.details {
  width: 100%;

  &__wrapper {
    display: flex;
  }

  &__image-wrapper {
    flex: 0.6;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__right {
    flex: 0.4;
  }

  &__add-to-cart {
    font-size: 2rem;
    color: $clr--dark-700;
    cursor: pointer;

    &:after {
      content: "";
      font-size: 0.85rem;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      position: fixed;
      background: #e9e8e8d5;
      color: $clr--dark-300;
      border-radius: 2px;
      margin: 2.2em 0 0 -1em;

      @include box-shadow;
    }

    &:hover {
      &::after {
        content: "Add to cart";
        padding: 0.5em;
      }
    }

    &.fa-shopping-cart {
      color: $clr--primary;

      &:hover {
        &::after {
          content: "Remove from cart";
        }
      }
    }
  }

  @media screen and (max-width: $screen-md) {
  }
}
