@use '../abstracts' as *;

.details {
  width: 100%;

  &__container {
    @include section-spacing;
  }

  &__wrapper {
    display: flex;
  }

  &__image-wrapper {
    flex: 0.4;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__right {
    flex: 0.6;
    margin-top: -0.4em;
    padding: 0 1.2em;
  }

  &__add-to-cart {
    font-size: 2rem;
    color: $clr--dark-700;
    cursor: pointer;

    &:after {
      content: "";
      font-size: 0.85rem;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      position: fixed;
      background: #e9e8e8d5;
      color: $clr--dark-300;
      border-radius: 2px;
      margin: 2.2em 0 0 -1em;
      transition: all 0.4s ease-out;

      @include box-shadow;
    }

    &:hover {
      color: $clr--primary;

      &::after {
        content: "Add to cart";
        padding: 0.5em;
      }
    }

    &.fa-shopping-cart {
      color: $clr--primary;

      &:hover {
        &::after {
          content: "Remove from cart";
        }
      }
    }
  }

  &__description-wrapper {
    max-width: 500px;
    margin-top: 1.785em;
  }

  @media screen and (max-width: $screen-xl) {
    margin-top: 4em;
  }

  @media screen and (max-width: $screen-md) {
    &__description-wrapper {
      max-width: 500px;
    }
  }

  @media screen and (max-width: $screen-s) {
    &__wrapper {
      display: block;
    }

    &__right {
      margin-top: 0;
      padding: 1em 0;
    }
  }
}
