@use '../abstracts' as *;

#edit-form {
  display: none;
}

.edit__header {
  display: none;
  margin-top: 0.625em;
  text-align: center;
  font-family: primary-med;

  @media screen and (max-width: $screen-xl) {
    margin-top: 1.175em;
  }
}
