@use '../abstracts' as *;

.home {
  margin-top: 0;
}
.home-header {
  @include section-spacing;
  @include border-bottom;
  @include section-spacing;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    @include flex-between;
    text-align: start;

    &__left,
    &__right {
      flex: 0.48;
    }
  }
  @media screen and (min-width: $screen-lg) {
    padding: 2.875em 0;
  }
}

.feature-intro {
  width: 100%;
  text-align: center;

  @include flex-col-center;
  @include section-spacing;
  display: none;

  h5,
  p {
    max-width: 700px;
    padding: 0 0.625em;
  }
}

.featured {
  @include grid-auto;
  @include border-bottom;
  @include section-spacing;
  display: none;

  &__card {
    padding: 0.875em;
    @include card-hover;
  }

  &__title {
    font-size: 0.9375rem;
    color: $clr--dark;
  }

  &__link {
    font-size: 0.9375rem;
  }

  &__image-wrapper {
    @include flex-center;
    @include img-responsive;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 5 / 7;
  }

  @media screen and (min-width: $screen-md) {
    &__title {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $screen-md) {
    &__card {
      margin: 0 0.625em;
    }

    &__title {
      margin: 0;
      font-size: 0.875rem;
    }
  }

  @media screen and (min-width: $screen-lg) {
    grid-template-columns: repeat(5, auto);
    justify-content: center;

    &__card {
      padding: 1.25em;
      max-width: 220px;
    }
  }
}

.inspired {
  @include grid-auto;
  @include section-spacing;
  @include border-top;
  @include border-bottom;

  &__img-wrapper {
    @include img-responsive;
  }

  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    grid-template-columns: repeat(3, 31.2vw);
  }
  @media (min-width: $screen-s) and (max-width: $screen-md) {
    grid-template-columns: repeat(2, 47vw);
  }
}

.message-container.home {
  position: absolute;
}
