@use '../abstracts' as *;

.home {
  margin-top: 0;
}
.home-header {
  @include section-spacing;
  @include border-bottom;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    @include flex-between;
    text-align: start;

    &__left,
    &__right {
      flex: 0.48;
    }
  }
}

.featured {
  @include grid-auto;

  &__image-wrapper {
    @include flex-center;
    width: 100%;
    overflow: hidden;
    max-height: 300px;

    @include img-responsive;
  }
}

.inspired {
  @include grid-auto;

  &__img-wrapper {
    @include img-responsive;
  }
}
