@use '../abstracts' as *;

#login-form {
  max-width: 430px;
}

.login {
  @include flex-col-center;
  min-height: 75vh;

  h1 {
    font-family: primary-med;
    margin-bottom: 1em;
  }

  &__button {
    margin-top: 2em;
  }
}
