@use '../abstracts' as *;

.products {
  @include grid-auto;

  &__image-wrapper {
    @include flex-center;
    width: 100%;
    overflow: hidden;
    max-height: 300px;

    @include img-responsive;
  }
}
