@use '../abstracts' as *;

.products {
  @include grid-auto;
  @include section-spacing;

  &__card {
    margin-bottom: 1.625em;
    padding: 0.875em;
  }

  &__title,
  &__price {
    color: $clr--dark;
    font-size: 0.9375rem;
  }

  &__image-wrapper {
    @include flex-col-center;
    @include img-responsive;
    aspect-ratio: 5 / 6;
    overflow: hidden;
  }

  &__link {
    margin: 0.05em 0;
  }

  @media screen and (max-width: $screen-md) {
    &__card {
      padding: 0;
    }

    &__title {
      font-size: 0.875rem;
    }

    &__price,
    &__links {
      font-size: 0.875rem;
    }
  }

  @media screen and (min-width: $screen-xl) {
    grid-template-columns: repeat(4, 280px);
  }
}
